.col-9 {
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.row {
  margin: 10px;
}

.aboutTitle {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
  background-size: cover;
}

.aboutTitle h1 {
  color: lightgray;
  font-weight: bold;
  font-size: 72px;
}

.aboutText {
  margin: 20px;
  font-size: 20px;
}
